@import "tailwindcss";

:root {
  --color-primary: #126FDE;
  --color-primary-hover: #1882FF;
  --color-body-text: #77818C;
  --color-body-bold: #1A2B3D;
  --color-background: #FFFFFF;
}

body {
  background-color: var(--color-background);
  color: var(--color-body-text);
}

button {
  background-color: var(--color-primary);
  color: white;
}

button:hover {
  background-color: var(--color-primary-hover);
}

strong {
  color: var(--color-body-bold);
}

a {
  color: var(--color-body-text);
}

a:hover {
  color: var(--color-primary-hover);
}
